/* app css stylesheet */

/*overwrite some bootstrap styles*/
.nav .navbar-nav .side-nav{
  background-color: #0b153c !important;
}

.navbar-inverse {
  background-color: #0b153c;
  border-color: #080808;
}