<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a ui-sref="home.dashboard">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-gear"></i> View Images.
    </li>
</ol>

<h4>{{title}}</h4>

<div class="col-md-12">
    <div></div>
</div>