<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a ui-sref="home.dashboard">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-envelope"></i> Messages.
    </li>
</ol>

<div>
    <!--<h4 class="text-center">{{title}}</h4>-->
    <h3 class="page-header">
        {{title}}.
        <button class="btn btn-info pull-right" data-toggle="modal" data-target="#messageModal" ng-click="broadcaster()">Broadcast</button>
        <button class="btn btn-default pull-right" ng-click="getMessages()"><i class="fa fa-refresh"></i></button>
    </h3>

    <!--<button class="btn btn-info" ng-click="message()">CLICK</button>-->
    <div class="form-group col-md-4">
        <input type="text" ng-model="s_message" class="form-control" placeholder="Search messages">
    </div>
    <div ng-show="loading">
        <h4 class="text-center"><img src="img/loading_transparent.GIF"> </h4>
    </div>
    <div ng-init="getMessages()" ng-show="callSuccess">
        <table ng-table="messageParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="msg in $data">
                <td data-title="'Names'">{{msg.name}}</td>
                <td data-title="'Email'" filter="{userId: 'text'}" sortable="'userId'">{{msg.userId}}</td>
                <td data-title="'Message'" filter="{message: 'text'}">{{msg.message}}</td>
                <td data-title="'Date'" sortable="'created'">{{msg.created}}</td>
                <td data-title="'Source'">{{msg.source}}</a></td>
                <td data-title="'Actions'">
                    <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#messageModal" ng-click="messageDetails(msg)">
                    <i class="fa fa-reply"></i>Reply</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
     aria-labelledby="messageModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>{{mTitle}}</h4>
            </div>
            <div class="modal-body" ng-show="message">
                <div class="">
                    <strong class="">From:</strong> <span class="text-muted">{{mFrom}}</span><br>
                    <strong>When:</strong> <span class="text-muted">{{mWhen}}</span><br>
                    <strong>Message:</strong> <span class="text-muted">{{mMessage}}</span><br>

                    <form>
                        <div class="form-group">
                            <textarea class="form-control" ng-model="mReply" rows="3" placeholder="Reply Message" required></textarea>
                        </div>
                        <input class="form-control btn btn-success" type="submit" value="Send" data-dismiss="modal" ng-click="sendMessage()">
                    </form>
                </div>
            </div> <!--/. message /-->
            <div class="modal-body" ng-show="broadcast">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" name="broadcastTxt" placeholder="Broadcast message" rows="3"></textarea>
                    </div>
                    <input class="form-control btn btn-success" type="submit" value="Send Broadcast" name="broadcast">
                </form>
            </div> <!--/. broadcast /-->
        </div>
    </div>
</div>