<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a ui-sref="home.dashboard">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Order Mgt.
    </li>
</ol>

<h4>{{title}}</h4>

<div ng-show="loading">
    <h4 class="text-center"><img src="img/loading_transparent.GIF"> </h4>
</div>
<div ng-init="getOrders()" ng-show="callSuccess">
    <table ng-table="orderParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <td data-title="'Image'"><img ng-src="{{row.itemImage}}" height="100"></td>
            <td data-title="'Name'" filter="{itemName: 'text'}" sortable="'itemName'">{{row.itemName}}</td>
            <td data-title="'UserId'" filter="{userId: 'text'}">{{row.userId}}</td>
            <td data-title="'ItemId'" filter="{itemId: 'text'}">{{row.itemId}}</td>
            <td data-title="'userId'" filter="{userId: 'text'}">{{row.userId}}</td>
            <td data-title="'Transaction Id'" filter="{tId: 'text'}">{{row.tId}}</td>
            <td data-title="'Date'" sortable="'date'">{{row.date}}</td>
            <td data-title="'Order Status'" sortable="'orderStatus'" >{{row.orderStatus}}</td>
            <td data-title="'Payment Status'">{{row.paymentStatus}}</td>
            <td data-title="'Error check'">
                <button class="btn btn-default" ng-disabled="!row.zinc_failed" ng-click="getZincStatus(row)" data-toggle="modal" data-target="#statusModal">
                    <span class="fa fa-check-circle-o"></span>
                </button>
            </td>
        </tr>
    </table>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="statusModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Zinc order status</h4>
            </div>
            <div class="modal-body">
                <div ng-show="z_loading">
                    <h4 class="text-center"><img ng-src="img/loading_transparent.GIF"></h4>
                </div>
                <div class="alert alert-danger" ng-show="z_callFail">
                    <strong>Error! </strong> {{z_callError}}
                </div>
                <table class="table table-bordered" ng-show="z_callSuccess">
                    <tbody>
                    <tr>
                        <td><strong>Type</strong></td>
                        <td>{{status._type}}</td>
                    </tr>
                    <tr>
                        <td><strong>Code</strong></td>
                        <td>{{status.code}}</td>
                    </tr>
                    <tr>
                        <td><strong>Message</strong></td>
                        <td>{{status.message}}</td>
                    </tr>
                    <tr>
                        <td><strong>Screenshots</strong></td>
                        <td>
                            <ul class="list-unstyled">
                                <li ng-repeat="sc in status.screenshot_urls">
                                    <a href="{{sc}}" target="_blank"><img ng-src="{{sc}}" class="img-responsive"> </a>
                                    <hr style="border-color: red;">
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->