<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a ui-sref="home.dashboard">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Taobao Orders.
    </li>
</ol>

<h4>{{title}}</h4>

<div ng-show="loading">
    <h4 class="text-center"><img src="img/loading_transparent.GIF"> </h4>
</div>
<div ng-init="getOrders()" ng-show="callSuccess">
    <div class="alert alert-success" ng-show="u_callSucess"><strong>Success!</strong> Update successfull</div>
    <div class="alert alert-success" ng-show="u_callFail"><strong>Error!</strong> {{u_callError}}</div>
    <div class="">
        <button class="btn btn-info pull-right" ng-click="getOrders()"><span class="fa fa-refresh"></span></button>
    </div>
    <table ng-table="orderParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <td data-title="'Image'"><img ng-src="{{row.itemImage}}" height="100"></td>
            <td data-title="'Name'" filter="{itemName: 'text'}" sortable="'itemName'">{{row.itemName}}</td>
            <td data-title="'ItemId'" filter="{itemId: 'text'}">{{row.itemId}}</td>
            <td data-title="'UserId'" filter="{userId: 'text'}">{{row.userId}}</td>
            <td data-title="'Date'" filter="{date: 'text'}" sortable="'date'">{{row.date}}</td>
            <td data-title="'Variations'">{{row.var}}</td>
            <td data-title="'Edit'"><a href="#" editable-select="row.orderStatus" e-ng-options="s.text as s.text for s in status" onaftersave="updateOrder($data,row)">{{row.orderStatus}}</a></td>
            <td data-title="'Link'"><a href="{{row.itemUrl}}" class="btn btn-info" target="_blank">view <span class="fa fa-external-link"></span></a> </td>
        </tr>
    </table>
</div>