<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a ui-sref="home.dashboard">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-users"></i> Users.
    </li>
</ol>

<h4 class="text-center">
    {{title}}
</h4>