<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a ui-sref="home.dashboard">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> US Warehouse
    </li>
</ol>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active col-md-4"><a class="text-center" href="warehouseUs#expected" aria-controls="expected" role="tab" data-toggle="tab">Expected Orders</a></li>
        <li role="presentation" class="col-md-4"><a class="text-center" href="warehouseUs#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending Shipment</a></li>
        <li role="presentation" class="col-md-4"><a class="text-center" href="warehouseUs#shipped" aria-controls="shipped" role="tab" data-toggle="tab">Shipped</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="expected">
            <h4>
                Expected Orders
                <button class="btn btn-info pull-right" ng-click="getExpected()"><i class="fa fa-refresh"></i> </button>
            </h4>
            <div ng-show="loading">
                <h4 class="text-center"><img src="img/loading_transparent.GIF"> </h4>
            </div>
            <div ng-init="getExpected()" ng-show="callSuccess">
                <table ng-table="orderParams" class="table table-condensed table-bordered table-striped">
                    <tr ng-repeat="row in $data">
                        <td data-title="'Image'"><img ng-src="{{row.itemImage}}" height="100"></td>
                        <td data-title="'Name'" filter="{itemName: 'text'}" sortable="'itemName'">{{row.itemName}}</td>
                        <td data-title="'ItemId'" filter="{itemId: 'text'}">{{row.itemId}}</td>
                        <td data-title="'Tracking ID'" filter="{trackingId: 'text'}">{{row.trackingId}}</td>
                        <td data-title="'Date'" filter="{date: 'text'}" sortable="'date'">{{row.date}}</td>
                        <td data-title="'Received'"><a href="#" editable-select="row.usReceived" e-ng-options="o.val as o.val for o in options" onbeforesave="expectedUpdate($index,row)" onaftersave="updateWarehouse($data,row)">{{row.usReceived}}</a></td>
                    </tr>
                </table>
            </div>
        </div> <!--/. expected tab /-->
        <div role="tabpanel" class="tab-pane" id="pending">
            <h4>
                Pending Shipment
                <button class="btn btn-info pull-right" ng-click="getPending()"><i class="fa fa-refresh"></i> </button>
            </h4>

            <div ng-show="p_loading">
                <h4 class="text-center"><img src="img/loading_transparent.GIF"> </h4>
            </div>
            <div ng-init="getPending()" ng-show="p_callSuccess">
                <table ng-table="p_orderParams" class="table table-condensed table-bordered table-striped">
                    <tr ng-repeat="p_row in $data">
                        <td data-title="'Image'"><img ng-src="{{p_row.itemImage}}" height="100"></td>
                        <td data-title="'Name'" filter="{itemName: 'text'}" sortable="'itemName'"><a href="#">{{p_row.itemName}}</a></td>
                        <td data-title="'ItemId'" filter="{itemId: 'text'}">{{p_row.itemId}}</td>
                        <td data-title="'Tracking ID'" filter="{trackingId: 'text'}">{{p_row.trackingId}}</td>
                        <td data-title="'Date'" filter="{date: 'text'}" sortable="'date'">{{p_row.date}}</td>
                        <td data-title="'Shipped'"><a href="#" editable-select="p_row.usShipped" e-ng-options="o.val as o.val for o in options" onbeforesave="pendingUpdate($index,p_row)" onaftersave="updateWarehouse($data,p_row)">{{p_row.usShipped}}</a></td>
                    </tr>
                </table>
            </div>
        </div> <!--/. pending tab /-->
        <div role="tabpanel" class="tab-pane" id="shipped">
            <h4>
                Shipped
                <button class="btn btn-info pull-right" ng-click="getShipped()"><i class="fa fa-refresh"></i> </button>
            </h4>

            <div ng-show="s_loading">
                <h4 class="text-center"><img src="img/loading_transparent.GIF"> </h4>
            </div>
            <div ng-init="getShipped()" ng-show="s_callSuccess">
                <table ng-table="s_orderParams" class="table table-condensed table-bordered table-striped">
                    <tr ng-repeat="s_row in $data">
                        <td data-title="'ID'">{{s_row.orders_id}}</td>
                        <td data-title="'Image'"><img ng-src="{{s_row.itemImage}}" height="100"></td>
                        <td data-title="'Name'" filter="{itemName: 'text'}" sortable="'itemName'">{{s_row.itemName}}</td>
                        <td data-title="'ItemId'" filter="{itemId: 'text'}">{{s_row.itemId}}</td>
                        <td data-title="'Tracking ID'" filter="{trackingId: 'text'}">{{s_row.trackingId}}</td>
                        <td data-title="'Date'" filter="{date: 'text'}" sortable="'date'">{{s_row.date}}</td>
                    </tr>
                </table>
            </div>
        </div> <!--/. shipped tab /-->
    </div>

</div>