<form class="form-signin" ng-submit="login()">
    <h3 class="form-signin-heading text-center">{{title}}</h3>
    <div class="alert alert-warning" ng-show="session_timedout">
        <strong>Timeout! </strong> Your session timed out, log in again.
    </div>
    <div class="alert alert-danger" ng-show="callFail">
        <strong>Error! </strong>{{callError}}
    </div>
    <label for="adminUsername" class="sr-only">Email address</label>
    <input type="email" id="adminUsername" ng-model="credentials.username" class="form-control" placeholder="Email address"
           required autofocus>
    <label for="adminPassword" class="sr-only">Password</label>
    <input type="password" id="adminPassword" ng-model="credentials.password" class="form-control" placeholder="Password"
           required>
    <button class="btn btn-lg btn-danger btn-block" name="adminLogin" type="submit" ng-hide="loading">{{buttonText}}</button>
    <button class="btn btn-lg btn-danger btn-block"  type="button" ng-show="loading">{{buttonText}}... <img src="img/circular_loader.gif"></button>
</form>